body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.container {
    display: flex;
    align-items: center;
	font-size: 30px;
}

.square1 {
    width: 200px;
    height: 200px;
    background-color: #D11149;
    position: relative;
}

.square2 {
    width: 200px;
    height: 200px;
    background-color: #D11149;
    border-radius: 10px;
    position: relative;
}

.chat-bubble1 {
    position: relative;
    background-color: #F17105;
    padding: 10px;
    margin-left: 15px;
    max-width: 200px;
    font-family: "Freckle Face", cursive, sans-serif;
}

.chat-bubble1::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    border: 10px solid transparent;
    border-right-color: #F17105;
    transform: translateY(-50%);
}

.chat-bubble2 {
    position: relative;
    background-color: #F17105;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    max-width: 200px;
    font-family: "Freckle Face", cursive, sans-serif;
}

.chat-bubble2::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    border: 10px solid transparent;
    border-right-color: #F17105;
    transform: translateY(-50%);
}